<app-navbar></app-navbar>
<div class="container corpo">
    <h3 class="fnt-anton sz52 text-center mt-5">Nossa história</h3>
    <p class="fnt-anton sz18 text-center mt-5">Fundada em 1972, a Carpinteiro foi fundada por José Joaquin Martins e seu irmão Armando Aparecido Martins, marceneiros nascidos e criados em Uberaba, Minas Gerais. Quando fundaram a empresa, eles já tinham a ideia de trazer qualidade, comodidade e
        tradição para as suas peças, atraindo muita atenção dos clientes por suas peças únicas que rodavam a cidade.
    </p>
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="col-md-12">
                <img class="img-fluid img-thumbnail" src="../../../assets/fotos/Jose.jpeg">
                <p>José criando uma de susas peças, em 2012</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <p class="fnt-anton sz24">Em 2011 José e Armando decidiram levar seu negócio para um ambiente que estava em constante expansão, a internet. E graças a ela muito mais pessoas puderam conhecer essa marca, aumentando muito a sua gama de clientes, que agora já cerca
                    a maioria dos estados brasileiros, como São Paulo, Rio de Janeiro, Espirito Santo e Santa Catarina. </p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>