<app-navbar></app-navbar>
<div class="corpo">
    <carousel [overflowCellsLimit]="1" [images]="images" [objectFit]="'cover'" [height]="650" [cellWidth]="'100%'" [autoplay]="true" [dots]="true" [loop]="true">
    </carousel>
    <div class="container-fluid pb-5">
        <div class="call-to-action mb-5">
            <p class="fnt-anton sz52 descricao txt-preto text-center">Conheça a Carpinteiro,<br> móveis em madeira de extrema qualidade. <br> Faça um orçamento agora!</p>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-lg" routerLink="/contato">Contate-nos</button>
            </div>
        </div>
    </div>
    <div class="container-fluid sz950 marrom pt-5 pb-5 album">
        <p class="fnt-anton sz28 text-center txt-branco mb-5">Produtos feitos totalmente em Maçaranduba, umas da melhores madeiras, com a maior qualidade do Brasil. nossa empresa uni os tres pontos mais importantes do móveis rústicos, a qualidade, tradição sem perder a comodidade </p>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top rounded mx-auto d-block w-100" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="../../../assets/fotos/Preview1.jpeg" data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text fnt-anton text-center sz18">móveis de madeira com design moderno para seus ambientes internos.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top rounded mx-auto d-block w-100" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="../../../assets/fotos/Preview2.jpeg" data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text fnt-anton text-center sz18">Móveis de madeira com design rústico para seu ambiente natural.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top rounded mx-auto d-block w-100" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="../../../assets/fotos/Preview3.jpeg" data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text fnt-anton text-center sz18">Móveis de alta qualidade, despojados, perfeito para ambientes coloridos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid sz650">
        <div class="call-to-action">
            <p class="fnt-anton sz32 descricao txt-preto text-center">Nossa empresa trabalha com três importantes etapas no processo de fabricação, são elas:</p>
            <div class="container-fluid">
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow border border-dark">
                            <img class="card-img-top img-fluid rounded mx-auto d-block chart" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="../../../assets/fotos/madeira.png" data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text fnt-anton text-center sz18">Buscar por uma madeira que seja de qualidade e de reflorestamento</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow border border-dark">
                            <img class="card-img-top img-fluid rounded mx-auto d-block  chart" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail" src="../../../assets/fotos/fabrica.png" data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text fnt-anton text-center sz18">Buscar por métodos de produção que não agridem o meio-ambiente</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow border border-dark">
                            <img class="card-img-top rounded mx-auto d-block chart" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="../../../assets/fotos/qualidade.png" data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text fnt-anton text-center sz18 fnt-anton text-center">Passar todos os nosso produtos pelo processo de qualidade Carpinteiro</p>
                            </div>
                        </div>
                    </div>

                    <p class="txt-preto fnt-anton sz24 text-center mt-5 ">Seguindo esses três passos, todos os nosso produtos saem das lojas com a qualidade Carpinteiro que todos conhecem.</p>
                    <div class="d-flex justify-content-center ">
                        <button type="button " class="btn btn-lg " routerLink="/contato">Faça um orçamento</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>