$preto: #111111;
$cinza: #939393;
$marrom: #321800;
.btn {
    background-color: $marrom;
    color: whitesmoke;
}

.btn:hover {
    transition-duration: .5s;
    background-color: gray;
    color: black;
}

.sz650 {
    height: 650px;
}

.call-to-action {
    padding-top: 80px;
}

img {
    width: 350px;
    height: 350px;
    object-fit: fill;
}

.center {
    margin: 0 auto;
}

.chart {
    width: 200px;
    height: 200px;
    object-fit: fill;
}